.card.mb-3{data: { controller: "remove-nested-form", "remove-nested-form-target": "element" }}
  .ribbon.ribbon-top.bg-red{"data-bs-toggle" => "tooltip", "data-bs-placement" => "top", title: "Remove address"}
    %i.icon.ti.ti-trash.cursor-pointer{"data-action": "click->remove-nested-form#remove"}

  .card-body
    = form.input :_destroy, as: :hidden, input_html: { data: { "remove-nested-form-target": "destroyElement" } }

    .row
      .col-md-6
        = form.input :iso_region_code
    .row
      .col
        = form.input :administrative_division_level_2_code
      .col
        = form.input :administrative_division_level_2_name
    .row
      .col
        = form.input :administrative_division_level_3_code
      .col
        = form.input :administrative_division_level_3_name
    .row
      .col
        = form.input :administrative_division_level_4_code
      .col
        = form.input :administrative_division_level_4_name
