.nav-item.dropdown
  %a.nav-link.d-flex.lh-1.p-0.px-2{"aria-label" => "Open user menu", "data-bs-toggle" => "dropdown", :href => "#"}
    %span.avatar.avatar-sm{:style => "background-image: url('#{user_profile_image_url(current_user)}')"}
    .d-none.d-xl-block.ps-2
      %div
        = current_user.name
      .mt-1.small.text-secondary
        = current_account.name
  .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
    = link_to edit_user_registration_path, class: "dropdown-item" do
      %i.icon.ti.ti-user
      Profile
    .dropdown-divider
    = link_to dashboard_settings_root_path, class: "dropdown-item" do
      %i.icon.ti.ti-settings
      Settings
    = button_to(destroy_user_session_path, class: "dropdown-item", method: :delete, form: { data: { turbo: false } }) do
      %i.icon.ti.ti-logout
      = translate(:"helpers.submit.session.destroy")
