%header{class: "navbar navbar-expand-md d-none d-lg-flex d-print-none"}
  .container-xl
    .navbar-nav.flex-row.order-md-last
      .d-none.d-md-flex
        .nav-item
          = link_to url_for(params: request.query_parameters.merge(theme: 'light')), class: "nav-link px-0 hide-theme-light", title: "Enable light mode" do
            %i.icon.ti.ti-sun
          = link_to url_for(params: request.query_parameters.merge(theme: 'dark')), class: "nav-link px-0 hide-theme-dark", title: "Enable dark mode" do
            %i.icon.ti.ti-moon
        .nav-item.dropdown
          %a.nav-link.px-0{"aria-label" => "Select language", "data-bs-original-title" => "Select language", "data-bs-toggle" => "dropdown"}
            %i.icon.ti.ti-language
          .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
            = button_to(dashboard_locale_path(user: { locale: "en" }), class: "dropdown-item", method: :patch) do
              .i.icon.ti
                ðŸ‡¬ðŸ‡§
              English
            = button_to(dashboard_locale_path(user: { locale: "km" }), class: "dropdown-item", method: :patch) do
              .i.icon.ti
                ðŸ‡°ðŸ‡­
              ážáŸ‚áŸ’áž˜ážš
      .nav-item.dropdown
        %a.nav-link.d-flex.lh-1.p-0.px-2{"aria-label" => "Open user menu", "data-bs-toggle" => "dropdown", :href => "#"}
          %span.avatar.avatar-sm{:style => "background-image: url('https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?q=80&w=3560&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')"}
          .d-none.d-xl-block.ps-2
            %div John Doe
            .mt-1.small.text-secondary PIN Laos
        .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
          = link_to edit_user_registration_path, class: "dropdown-item" do
            %i.icon.ti.ti-user
            Profile
          .dropdown-divider
          = link_to dashboard_settings_root_path, class: "dropdown-item" do
            %i.icon.ti.ti-settings
            Settings
          %a.dropdown-item{:href => "./sign-in.html"}
            %i.icon.ti.ti-logout
            Logout

    #navbar-menu
