%aside{class: "navbar navbar-vertical navbar-expand-lg", "data-bs-theme": "dark"}
  .container-fluid
    %button.navbar-toggler{"aria-controls" => "sidebar-menu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#sidebar-menu", "data-bs-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon

    .navbar-brand
      = link_to dashboard_root_path do
        = image_tag("open-ews_landscape_logo.png", class: "navbar-brand-image")

    .navbar-nav.flex-row.d-lg-none
      = render "layouts/dashboard/account_dropdown"

    #sidebar-menu.collapse.navbar-collapse
      %ul.navbar-nav.pt-lg-3
        -# = sidebar_nav(title(controller_name: :home, action_name: :index), dashboard_root_path, icon_class: "ti ti-home")
        = sidebar_nav(title(controller_name: :beneficiaries, action_name: :index), dashboard_beneficiaries_path, icon_class: "ti ti-address-book")
        = sidebar_nav(title(controller_name: :broadcasts, action_name: :index), dashboard_broadcasts_path, icon_class: "ti ti-speakerphone")
