<%= render "dashboard/settings/frame" do %>
  <div class="card-header">
    <h2 class="mb-0"><%= title %></h2>
  </div>

  <div class="card-body">
    <%= simple_form_for(current_account.access_tokens.last, url: dashboard_settings_developers_path, html: { novalidate: "novalidate" }) do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :token, input_html: { readonly: true } %>
          <%= f.submit "Regenerate", class: "btn btn-danger" %>
        </div>
        <div class="col d-flex justify-content-center align-items-center pb-2">
          <p class="">
            Learn how to use the API at
            <a href="https://docs.open-ews.org/" target="_blank">https://docs.open-ews.org/</a>.
          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
