<h2 class="h2 text-center mb-4"><%= translate(:"titles.user_passwords.new") %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email,
          required: true,
          autofocus: true,
          input_html: {
            autocomplete: "email",
          } %>

  <div class="form-footer">
    <div class="row">
      <div class="col">
        <%= render "devise/shared/links" %>
      </div>

      <div class="col text-end">
        <%= f.button :submit, translate(:"titles.user_passwords.create") %>
      </div>
    </div>
  </div>
<% end %>
