<div class="table-responsive">
  <table id="resources" class="table table-vcenter card-table">
    <thead>
      <tr role="row">
        <% headers.each do |column| %>
          <th>
            <div class="text">
              <%= column == :id ? "#" : collection.human_attribute_name(column) %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if collection.empty? %>
        <tr>
          <td colspan="<%= headers.count %>" class="text-center text-muted border-0">
            <em><%= t("titles.no_records") %></em>
          </td>
        </tr>
      <% else %>
        <% collection.each do |resource| %>
          <%= content_tag_for(:tr, resource) do %>
            <%= yield(resource) %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
