%tr{role: "row"}
  %td
    = link_to(alert.id, show_location(alert))
  %td
    = link_to(alert.phone_number, show_location(alert.beneficiary))
  %td
    = alert.delivery_attempts_count
  %td
    = alert.status.humanize
  %td
    = local_time(alert.created_at)
