= content_for(:page_actions) do
  = render "shared/resource_related_links" do
    = related_link_to t(:"titles.delivery_attempts.index"), dashboard_alert_delivery_attempts_path(resource)

.card
  .card-body
    = show_for(resource, style: "border: none", class: "foo") do |f|
      = f.attribute :id
      = f.attribute :broadcast do
        = link_to(resource.broadcast_id, dashboard_broadcast_path(resource.broadcast_id))
      = f.attribute :phone_number do
        = link_to(resource.phone_number, dashboard_beneficiary_path(resource.beneficiary_id))
      = f.attribute :delivery_attempts_count
      = f.attribute :status, value: resource.status.humanize
      = f.attribute :created_at, value: local_time(resource.created_at)
