<div class="card">
  <div class="card-body">
    <div class="subheader"><%= header_title %> <i class="ti ti-<%= icon_name %> fs-3"></i></div>
    <div class="d-flex align-items-baseline">
      <div class="h1 mb-0 me-2 total-count"><%= number_with_delimiter(stats.total_count) %></div>
      <div class="me-auto">
        <span class="text-green d-inline-flex align-items-center lh-1">
          <%= number_to_percentage(stats.new_count_percentage, precision: 0, strip_insignificant_zeros: true) %>
          <i class="ti ti-trending-up icon"></i>
        </span>
      </div>
    </div>
    <div class="text-secondary mt-2"><%= number_with_delimiter(stats.new_count) %> <%= description %></div>
  </div>
</div>
