<div class="row">
  <div class="col-sm-6 col-lg-4 mb-2 beneficiary-stats">
    <%= render "stats",
          stats: @dashboard_summary.beneficiaries_stats,
          header_title: "Total Beneficiaries",
          icon_name: "address-book",
          description: "#{pluralize_model(@dashboard_summary.beneficiaries_stats.new_count, Beneficiary.model_name)} added last month" %>
  </div>

  <div class="col-sm-6 col-lg-4 mb-2 notifications-stats">
    <%= render "stats",
          stats: @dashboard_summary.notifications_stats,
          header_title: "Total Notifications Sent",
          icon_name: "message",
          description: "#{pluralize_model(@dashboard_summary.notifications_stats.new_count, Notification.model_name)} sent last month" %>
  </div>

  <div class="col-sm-6 col-lg-4 mb-2 broadcasts-stats">
    <%= render "stats",
          stats: @dashboard_summary.broadcasts_stats,
          header_title: "Total Broadcasts",
          icon_name: "speakerphone",
          description: "#{pluralize_model(@dashboard_summary.broadcasts_stats.new_count, Broadcast.model_name)} sent last month" %>
  </div>
</div>

<div class="row">
  <% @dashboard_summary.recent_broadcasts.each do |broadcast| %>
    <div class="col">
      <%= render "broadcast", broadcast: broadcast %>
    </div>
  <% end %>
</div>

<%= render "notifications_chart", notifications_stats: @dashboard_summary.last_12_months_notifications_stats %>
