<% content_for :page_title, t("errors.#{status_code}.title") %>

<div class="empty">
  <div class="empty-image mb-3">
    <%= image_tag "errors/#{status_code}.svg" %>
  </div>

  <h1 class="empty-title">
    <%= t("errors.title") %>
  </h1>

  <p class="empty-subtitle text-secondary">
    <%= t("errors.#{status_code}.subtitle") %>
  </p>

  <div class="empty-action">
    <%= link_to dashboard_root_path, class: "btn btn-primary btn-4" do %>
      <i class="ti ti-arrow-left icon"></i>
      <%= t("errors.back_to_home") %>
    <% end %>
  </div>
</div>
