<div class="card">
  <%= simple_form_for([:dashboard, @broadcast]) do |f| %>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <%= f.input :channel %>
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <%= f.input :audio_file, hint: (link_to(@broadcast.object.audio_file.filename, rails_blob_path(@broadcast.object.audio_file)) if @broadcast.object.audio_file.attached?), required: f.object.new_record?, as: :file, input_html: { direct_upload: true, accept: Broadcast::AUDIO_CONTENT_TYPES.join(", ") } %>
            </div>
          </div>
        </div>
        <div class="col">
          <%= f.input(
            :beneficiary_groups,
            collection: f.object.beneficiary_groups_options_for_select,
            multiple: true,
            input_html: { class: "list-select" }
          ) %>
        </div>
      </div>

      <div class="hr-text">Beneficiary Filters</div>
      <div class="row">
        <div class="col"><label class="form-label">Field</label></div>
        <div class="col"><label class="form-label">Operator</label></div>
        <div class="col"><label class="form-label">Value</label></div>
      </div>

      <%= f.simple_fields_for(:beneficiary_filter, @broadcast.beneficiary_filter) do |filter_form| %>
        <%= render "dashboard/beneficiaries/filter_fields", filter_form:, excluded_fields: ["status"] %>
      <% end %>
    </div>

    <div class="card-footer text-end">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
