<% content_for(:page_actions) do %>
  <%= render("shared/new_resource_page_action", path: new_dashboard_broadcast_path) %>
<% end %>

<div class="card">
  <div class="table-responsive">
    <table id="resources" class="table table-vcenter card-table">
      <thead>
        <tr role="row">
          <th>#</th>
          <% [:channel, :status, :created_at].each do |column| %>
            <th>
              <div class="text">
                <%= @broadcasts.human_attribute_name(column) %>
              </div>
            </th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @broadcasts.each do |broadcast| %>
          <%= content_tag_for(:tr, broadcast, role: "row") do %>
            <td>
              <%= link_to(broadcast.id, dashboard_broadcast_path(broadcast)) %>
            </td>
            <td>
              <%= broadcast.channel.humanize %>
            </td>
            <td>
              <%= broadcast_status(broadcast) %>
            </td>
            <td>
              <%= local_time(broadcast.created_at) %>
            </td>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= render("shared/pagination", resources: @broadcasts) %>
</div>
