.card.col-md-6
  = simple_form_for [:dashboard, resource] do |f|
    .card-body
      .row
        .col
          = f.input :phone_number
        .col
          = f.input :gender
      .row
        .col
          = f.input :date_of_birth
        .col
          = f.input :disability_status
      .row
        .col
          = f.input :language_code
        .col
          = f.input :iso_country_code

        .hr-text Addresses

        .addresses
          = f.simple_fields_for :addresses do |addresses_form|
            .card
              .ribbon.ribbon-top.bg-red
                %i.icon.ti.ti-trash
              .card-body
                .row
                  .col-md-6
                    = addresses_form.input :iso_region_code
                .row
                  .col
                    = addresses_form.input :administrative_division_level_2_code
                  .col
                    = addresses_form.input :administrative_division_level_2_name
                .row
                  .col
                    = addresses_form.input :administrative_division_level_3_code
                  .col
                    = addresses_form.input :administrative_division_level_3_name
                .row
                  .col
                    = addresses_form.input :administrative_division_level_4_code
                  .col
                    = addresses_form.input :administrative_division_level_4_name

        .text-center.pt-3
          = link_to("#", class: "btn btn-outline-primary", title: "Add Address") do
            <i class="icon ti ti-plus"></i>
            Add Address

    .card-footer.text-end
      = f.button :submit, class: 'btn btn-primary'

