.card.col-md-6
  = simple_form_for [:dashboard, resource] do |f|
    .card-body
      .row
        .col
          = f.input :phone_number
        .col
          = f.input :gender
      .row
        .col
          = f.input :date_of_birth
        .col
          = f.input :disability_status
      .row
        .col
          = f.input :language_code
        .col
          = f.input :iso_country_code

      .row
        .col{style: "max-height: 300px; overflow: auto;"}
          = f.input :addresses do
            #tree-view{"data-controller": "treeview", "data-treeview-data-value": BeneficiaryAddress.address_data("kh").to_json}

    .card-footer.text-end
      = f.button :submit, class: 'btn btn-primary'

