.card.col-md-6
  = simple_form_for [:dashboard, resource] do |f|
    .card-body
      .row
        .col
          = f.input :phone_number
        .col
          = f.input :iso_country_code, as: :country
      .row
        .col
          = f.input :gender
        .col
          = f.input :language_code
      .row
        .col
          = f.input :date_of_birth, html5: true
        .col
          = f.input :disability_status

      .hr-text Addresses

      #addresses
        = f.simple_fields_for :addresses do |addresses_form|
          = render "dashboard/beneficiary_addresses/fields", form: addresses_form

      .text-center
        = link_to(new_dashboard_beneficiary_address_path, class: "btn btn-outline-primary", title: "Add Address", data: { turbo_stream: true }) do
          <i class="icon ti ti-plus"></i>
          Add Address

    .card-footer.text-end
      = f.button :submit, class: 'btn btn-primary'

