= content_for(:page_actions) do
  = render("shared/edit_resource_page_action", path: edit_dashboard_beneficiary_path(resource))

  = render "shared/resource_related_links" do
    = related_link_to t(:"titles.alerts.index"), dashboard_beneficiary_alerts_path(resource)
    = render("shared/destroy_resource_page_action", path: dashboard_beneficiary_path(resource))

.card
  .card-body
    = show_for(resource) do |f|
      = f.attribute :id
      = f.attribute :phone_number
      = f.attribute :gender
      = f.attribute :date_of_birth
      = f.attribute :disability_status
      = f.attribute :language_code
      = f.attribute :iso_country_code
