= content_for(:page_actions) do
  = render("shared/edit_resource_page_action", path: edit_dashboard_beneficiary_path(resource))

  = render "shared/resource_related_links" do
    = render("shared/destroy_resource_page_action", path: dashboard_beneficiary_path(resource))

.card
  .card-body
    = show_for(resource) do |f|
      = f.attribute :id
      = f.attribute :phone_number
      = f.attribute :iso_country_code, value: country_name(resource.iso_country_code)
      = f.attribute :gender, value: resource.gender_text
      = f.attribute :language_code
      = f.attribute :date_of_birth
      = f.attribute :disability_status, value: resource.disability_status_text
      = f.attribute :status, value: resource.status_text
      = f.attribute :created_at, value: local_time(resource.created_at)
      = f.attribute :updated_at, value: local_time(resource.updated_at)

    - if resource.addresses.present?
      .hr-text Addresses

      - resource.addresses.each_with_index do |address, index|
        - if index > 0
          .hr

        = show_for(address) do |address_fields|
          = address_fields.attribute :iso_region_code
          = address_fields.attribute :administrative_division_level_2_code
          = address_fields.attribute :administrative_division_level_2_name
          = address_fields.attribute :administrative_division_level_3_code
          = address_fields.attribute :administrative_division_level_3_name
          = address_fields.attribute :administrative_division_level_4_code
          = address_fields.attribute :administrative_division_level_4_name

