<!DOCTYPE html>
<html lang="<%= current_user.locale %>" data-bs-theme="<%= cookies[:theme] %>">
  <head>
    <title>
      OpenEWS - <%= content_for?(:page_title) ? yield(:page_title) : title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet" />

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <div class="page">
      <%= render("layouts/dashboard/side_navigation") %>
      <%= render("layouts/dashboard/header") %>

      <div class="page-wrapper">
        <%= render("layouts/dashboard/page_header") %>

        <div class="page-body">
          <div class="container-xl">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
